* {
	font-family: 'Protest Revolution', 'Times New Roman', Times, serif;
}

body {
	display: flex;
	background-color: #1b1a55;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.addBook {
	display: flex;
	flex-direction: column;
	margin: 20px;
	gap: 20px;
	background-color: #9290c3;
	padding: 40px;
	border-radius: 30px;
}

.addBook > input {
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px 35px 10px 35px;
}

.addBook > li {
	background-color: #535c91;
	color: white;
	padding: 10px 35px 10px 35px;
	border-radius: 20px;
}
button {
	border: none;
	padding: 15px 30px 15px 30px;
	border-radius: 30px;
	cursor: pointer;
}
.bookCard {
	width: 450px;
	height: 250px;
	background-color: #070f2b;
	color: white;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin: 60px;
	border-radius: 20px;
	border-left: 10px solid #9290c3;
}

.bookCard > h3 {
	font-size: xx-large;
}
.booksContainer {
	display: flex;
	flex-wrap: wrap;
}

li {
	list-style: none;
	display: flex;
	justify-content: space-around;
	gap: 30px;
}

h1 {
	background-color: #070f2b;
	color: #fff;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.bookCard > button {
	display: inline-block;
}
